Sign up
<form action='/users/new'  method='post'>
  <input type="text" name="name" placeholder="Name"><br>
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Sign up" >
</form>
Already a member?
<form action='/login'  method='get'>
  <input type="submit" value="Log in" >
</form>

<h2> 
  <%= flash[:notice]%>
</h2>