<!DOCTYPE html>
<html>
<h1>Hello again</h1>

<form action='/users/session'  method='post'>
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login" >
</form>

<h2> 
  <%= flash[:notice]%>
</h2>
</html>
