<!DOCTYPE html>
<html>
<h1>Hello again</h1>
<form action='/users/session'  method='post'>
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login" >
</form>
<br>
Not yet a member?
<form action='/'  method='get'>
  <input type="submit" value="Sign up" >
</form>

<h2> 
  <%= flash[:notice]%>
</h2>
</html>
