<<<<<<< HEAD
<<<<<<< HEAD
Login

=======
<!DOCTYPE html>
<html>
<h1>Hello again</h1>
>>>>>>> 375fcfac7730309e2881fb1cf17a1039b531e9a8
<form action='/users/session'  method='post'>
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login" >
</form>
<br>
Not yet a member?
<form action='/'  method='get'>
  <input type="submit" value="Sign up" >
</form>

<h2> 
  <%= flash[:notice]%>
</h2>
<<<<<<< HEAD
=======
Login

<form action='/users/session'  method='post'>
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login" >
</form>

<h2> 
  <%= flash[:notice]%>
</h2>
>>>>>>> date_functionality
=======
</html>
>>>>>>> 375fcfac7730309e2881fb1cf17a1039b531e9a8
