<html>
<head>
<style>
.myDiv {
  background-color: lightblue;    
  text-align: center;
}
</style>
</head>
<body>
<a href="/spaces">Spaces</a>
<a href="/">Sign Out</a>

<h1>Request for 'name of space'</h1>

<div class="myDiv">
  <h2>Booking for 'date'</h2>
  <p>From 'bookling user id'</p>
</div>

<a class="button" href="/booking_confirmation">Confirm Request</a>
<button type="button">Deny Request</button>
<p>This will UPDATE the Bookings Table to confirmed.</p>

</body>
</html>