<a class="button" href="/spaces">Spaces</a>
<a class="button" href="/">Sign Out</a>

<ul>
<% @spaces.each do |space| %>
  <li><%= space %><a href="/make_reservation/<%= space[0] %>">Book this Space</a></li>
  <% end %>
</ul>

<a class="button" href="/spaces/new">List a Space</a>


