<form action='/spaces/new' method='post'>
<br>
  <b>Name: </b><input type='text' name='name' placeholder="Space name">
<br>
<br>
  <b>Description: </b><input type='text' name='description' placeholder="Description">
<br>
<br>
  <b>Price per Night: </b><input type='text' name='price_per_night' placeholder="Price per night">
<br>
<br>
  <input class='button' type='submit' value='List your space'>
</form>
