<form action='/spaces/new' method='post'>
  <input type='text' name='name' placeholder="Space name"><b>Name</b> 
  <input type='text' name='description' placeholder="Description"><b>Description</b>
  <input type='text' name='price_per_night' placeholder="Price per night"><b>Price Per Night</b>
  <input class='button' type='submit' value='New space'>
</form>
