<form action="/sessions/destroy" method="post">
  <input type="submit" value="Logout" />
</form>

<form action="/spaces/new" method="get">
  <input type="submit" value="List your space" />
</form>


<% if @user %>
  <h1>Welcome, <%= @user.name %></h1>
<% end %>

<ul>
<% @spaces.each do |space| %>
  <li><%= space %></li>
  <% end %>
</ul>

