<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
    <title>MAKERS BNB</title>
  </head>
  <body>
    <div class="navigation">
      <a href="/">Sign up</a>
      <a href="/login">Log in</a>
      <a href="/spaces">Spaces</a>
      <a href="/spaces/new">List your space</a>
    </div>
    <%= yield %>
  </body>
</html>